@*@using ReadyTask.ViewModels
@model TaskItemEdit

@{
    ViewData["Title"] = "Delete";
}
<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3> 
<div>
    <h4>Task</h4>
    <hr />
    <d1 class="d1-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TaskItem.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TaskItem.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TaskItem.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TaskItem.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TaskItem.AssignedUser)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TaskItem.AssignedUser)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TaskItem.AssignedUserId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TaskItem.AssignedUserId)
        </dd>
    </d1>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>

</div>*@
